
.bold {
    font-weight: bold;
}

.buttonCustom {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.margin {
    margin-top: -3px !important;
}

.dataContainer {
    height: 50%;
    margin-top: 10px;
}

.employedata {
    color: gray;
}

.employeeName {
    font-size: 21px;
    position: top;
}

.font18 {
    font-size: 18px;
}

.font21 {
    font-size: 21px;
}

.input{
    font-size: 13px;
    font: "Salesforce Sans";
    color: #706E6B;
    width: 360px;
    padding-right: 60px;
}
.slds-form-element__control{
    margin-top: -7px;
}

.btnIconCheck {
    margin: -0.5% 0 0 -50px;
}

.btnIconCancel {
    margin: -0.5% 0 0 10px;
}


.main{
    border-style:none;
    background-color: #FCFCFC;
}

.tab-color{
    background-color: #FCFCFC;
}

.border{
    border-style:none;
    border-width:0px;
}

.employee-icon-color{
    background-color: #FCFCFC;
}

.Green{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    display: inline-block;
    background-image: linear-gradient(#627361, #44CB7E);
    border:2px solid white;   
    border-radius :50%; 

}

.Red{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    display: inline-block;
    background-image: linear-gradient(#9D331A, #D64E48);
    border:2px solid white;   
    border-radius :50%; 
}

.Yellow{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    display: inline-block;
    background-image: linear-gradient(#FFB26C, #F3D050);
    border:2px solid white;   
    border-radius :50%; 
}

.light-box{
    margin-top: 3px;
    margin-right: 5px;
}

.slds-badge{
    background-color: #F3F2F2;
    border-color: #DDDBDA;
}

.employee-data{
    margin-top: 50px;
}

.tab-icon.color{
    background-color: #FF9A3C;
}

.my-icon {
    --sds-c-icon-color-background: #FF9A3C;
}

.slds-vertical-tabs,
.slds-vertical-tabs__content{
    background-color: #FCFCFC;
}

.slds-is-active .slds-vertical-tabs__link{
    background-color: #FFFFFF !important;
}

.slds-vertical-tabs__nav-item.slds-is-active{
    border: var(--lwc-borderWidthThin,1px) solid rgb(0 0 0 / 0%) !important;
}

.slds-vertical-tabs__link{
    background-color: #F3F2F2;
}

.slds-vertical-tabs{
    border: var(--lwc-borderWidthThin,1px) solid solid rgb(0 0 0 / 0%);
}

.slds-vertical-tabs__nav {
    min-width: 190px;
    border-right: var(--lwc-borderWidthThin,1px) solid rgb(0 0 0 / 0%);
}

.slds-vertical-tabs__nav-item {
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4)
}

.slds-vertical-tabs__nav-item:last-child {
    margin-bottom: 0px;
}

a:focus {
    text-decoration: none;
}

.slds-vertical-tabs__link span{
    font-size: 13px;
    color: #3E3E3C
}

.image-containter{
    position: relative;
    margin: 32px; 
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

