.project-box{
    border-width: 0px;
    box-shadow: 1.25px 2.5px 2px #d8d8d8;
}

blockquote.doc {
    margin-top: 10px;
    background-color: #E5F1FB;
    padding: 16px;
    border-left: 5px solid #1589EE;
    max-width: calc(100vw - 360px);
}
.icon-color{
    background-color: #FF9A3C;
}

h1 {
    font-weight: bold;
}
.main{
    background-color: white;
}

.customPagination {
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
}

.customPagination>a {
    padding: 5px 10px;
}

.button-box-text {
    position: relative;
    display: inline-block;
    padding-bottom: 7px
  }
  
.button-box-text-section .button-box-text-help-section {
    visibility: hidden;
    width: 22%;
    background-color: #1589EE;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 70%;
    font-size: 13px;
  }
  
.button-box-text-section .button-box-text-help-section::before {
    content: "";
    position: absolute;
    top: 115%;
    right: 92%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1589EE transparent  transparent transparent ;
  }

.button-box-text-section:hover .button-box-text-help-section {
    visibility: visible;
  }