.nav-items{
    overflow:auto;
    white-space:nowrap;
}

.slds-is-active {
    color:white;
}

.border-radious{
    margin-left: 0;
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    padding-left: .625rem;
    content: inherit !important;
}

.slds-path__item:first-child{
    left: -.25rem !important;
    right: -.3125rem !important;
    cursor: pointer;
    margin-left: 0;
    -top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding-left: .625rem;
}
.slds-path__item{
    margin: 20px 0px !important;
}
.slds-path__item:last-child{
    right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.slds-path__item:last-child{
    left: -.25rem !important;
    right: -.3125rem !important;
    cursor: pointer;
    -top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding-left: .625rem;
}

.slds-path__item:before, .slds-path__item:after{
    left: 0.66rem !important;
}

.slds-path__item::first-child:after{
    bottom: 0;
    height: 1rem;
    transform: skew(-30deg) translate3d(0, 0, 0) !important;
}

.slds-path__item:last-child:before, .slds-path__item:last-child:after{
    right: -0.4rem !important;
}

.slds-is-won:hover,.slds-is-won:hover:after,.slds-is-won:hover:before {
    background-color: rgb(27, 94, 11);
}

.is-pre-role-text{
    color:white;
}

.main{
    background-color: #FCFCFC;
    margin-left: 1%;
    width:100%;
    height: auto;
}

@media only screen and (max-width: 1920px) {
    .test {
        transform: scale(0.90);
        margin-left: -49px !important;
    }
}

@media only screen and (max-width: 1152px) {
    .test {
        transform: scale(0.8);
        margin-left: -85px !important;
    }
  }

@media only screen and (max-width: 1024px) {
    .test {
        transform: scale(0.7);
        margin-left: -148px !important;
    }
  }

  @media only screen and (max-width: 900px) {
    .test {
        transform: scale(0.55);
        margin-left: -189px !important;
    
    }
  }

@media only screen and (max-width: 768px) {
    .test {
        transform: scale(0.434);
        margin-left: -273px !important;
    }

}

.button-box-text {
    position: relative;
    display: inline-block;
    padding-bottom: 7px
  }
  
.button-box-text-section .button-box-text-help-section {
    visibility: hidden;
    width: 35%;
    background-color: #1589EE;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -45px;
    left: 50%;
    font-size: 13px;
  }
  
.button-box-text-section .button-box-text-help-section::before {
    content: "";
    position: absolute;
    top: 115%;
    right: 92%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1589EE transparent  transparent transparent ;
  }

.button-box-text-section:hover .button-box-text-help-section {
    visibility: visible;
  }