.main{
    border-style:none;
    background-color: #FCFCFC;
}

.dropdown{
    min-width: 145px;
    width: 190px;
    margin-right: 1%;
}

.custom-tab-icon {
    --sds-c-icon-color-background: #FF9A3C;
}

.slds-vertical-tabs,
.slds-vertical-tabs__content{
    background-color: #FCFCFC;
}

.slds-is-active .slds-vertical-tabs__link{
    background-color: #FFFFFF !important;
}

.slds-vertical-tabs__nav-item.slds-is-active{
    border: var(--lwc-borderWidthThin,1px) solid rgb(0 0 0 / 0%) !important;
}

.slds-vertical-tabs__link{
    background-color: #F3F2F2;
}

.slds-vertical-tabs{
    border: var(--lwc-borderWidthThin,1px) solid solid rgb(0 0 0 / 0%);
}

.slds-vertical-tabs__nav {
    min-width: 190px;
    border-right: var(--lwc-borderWidthThin,1px) solid rgb(0 0 0 / 0%);
}

.slds-vertical-tabs__nav-item {
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4)
}

.slds-vertical-tabs__nav-item:last-child {
    margin-bottom: 0px;
}

a:focus {
    text-decoration: none;
}

.slds-vertical-tabs__link span{
    font-size: 13px;
    color: #3E3E3C
}

.button-box-text {
    position: relative;
    display: inline-block;
  }
  
.button-box-text .button-box-text-help {
    visibility: hidden;
    width: 260px;
    height: 120;
    background-color: #1589EE;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
  }

  .button-box-text .button-box-text-help-path {
    visibility: hidden;
    width: 260px;
    height: 120;
    background-color: #1589EE;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }

  
.button-box-text .button-box-text-help-path::before  {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent #1589EE transparent transparent ;
  }


  
.button-box-text .button-box-text-help::after  {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1589EE;
  }

.button-box-text:hover .button-box-text-help, .button-box-text:hover .button-box-text-help-path {
    visibility: visible;
  }